
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/deviceList.css">  
    
    <script defer src="public/scripts/scroller.js"></script>
    <title>All devices</title>
</head>
<body>
    <div class = "search-options">

        <h1>Device list</h1>

        <div class = "main-filter">
            <img src="images/icons/dropDownArrow.png" alt="Drop down arrow icon">
            All devices
        </div>

        <div class = "search-box">
            <img src="images/icons/search.png" alt="Search icon">
            Search
        </div>

        <div class="add-device">
            <img src="images/icons/add.png" alt="Add icon">
            Add device
        </div>

    </div>
    
    <div class = "device-list">

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>


        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>

        <div class = "device">
            <button class = "button-device">
                <img src="images/icons/phone.png" alt="phone icon">
                Device
            </button>

            <button class = "button-edit">
                <img src="images/icons/edit.png" alt="edit icon">
                Edit
            </button>

            <button class = "button-remove">
                <img src="images/icons/remove.png" alt="remove icon">
                delete
            </button>
        </div>
    </div>

    <!-- <script defer>
        function checkBoxes() {
            console.log(window.innerHeight);
        }

        window.addEventListener('scroll', checkBoxes);
        checkBoxes(); // Wywołanie funkcji od razu po załadowaniu skryptu
    </script>
     -->
</body>
</html>