body{
    background: linear-gradient(to bottom, #1A254F, #054A7B);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: larger;
    font-family: Impact, fantasy;   
}