body {
    display: flex;
    max-height: 100%;
}


.logo {
    max-height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5%;
    box-sizing: border-box;
    float:left;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    object-fit: contain;
}

.login {
    max-height: 100%;
    width: 50%;
    padding-top: 10%;
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#loginForm {
    padding-top: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    border: none;
}

input:focus{
    outline: 0;
    border-bottom: #054A7B;
}

#loginForm input,
button {
    width: 60%;
    padding: 10px;
    margin: 10px 0; 
    border-radius: 10px;
    box-sizing: border-box; 
    justify-content: space-evenly;
    align-items: center;
}

.sign-up {
    margin-left: 20%;
}

#loginForm input {
    border: 2px solid #ccc;
}

#loginForm input.incorrect {
    border: 2px solid red;
}


@media (max-width: 800px ) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        margin-top: 30%;
        margin-bottom: 10%;
    }
    
    .login, .logo {
        width: 70%;         
        margin-left: 15%;         
        margin-right: 15%;
        text-align: center;       
        box-sizing: border-box;    
    }

    #loginForm input, #loginForm button {
        width: 80%;
    }

    #title {
        margin-top: 10%;
    }

    .sign-up{
        margin-left: 0%;
        width: 80%;
    }
}