body {
    background-color: beige;

    margin: 0;
    height: 100vh;
    width: 100vw;   
}

.flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.container {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


form > input, form > button, form > textarea {
    width: 400px;
    border-radius: 1em;
    padding: 1em;
    border: 0 solid black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

form > button, button {
    box-sizing: content-box;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: bisque;
    font-weight: 600;
}

.sidebar {
    width: 25%;
    align-self: baseline;
}

.main {
    width: 75%;
}

.projects {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

@media screen and (max-width: 414px) {
    form, .container {
        width: 100%;
    }

    form > input,
    form > textarea,
    form > button {
        width: calc(100% - 1em);
    }

    .sidebar {
        width: 80%;
        display: none;
        position: fixed;
        z-index: 25;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: white;
    }
    .main {
        width: 100%;
    }
    
    nav {
        width: 100% !important;
        top: unset !important;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0.7rem;
    }
}