.equipment-title{
    /* float: left; */
    width: 100%;
    align-items: left;
    justify-content: left;
}

.equipment-image{
    display: flex;
    width: calc(50% - 20px);
    float: left;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 20px;
    overflow: hidden;
}
.equipment-image img{
    max-width: 70%;
    max-height: 100%;
}
.default-information{
    float: right;
    display: block;
    padding: 10px;
    box-sizing: border-box ;
    text-align: left;
    align-items: left;
    color: red;
    border-radius: 20px;
    width: 50%;
    max-height: 100%;
    overflow:calc(80%);
    font-size: medium;
}
.default-information h1{
    margin-top: 0;
}
.equipment-head{
    display: flex;
    height: 30%;
    max-height: 30%;
    overflow: hidden;
}

.specification{
    margin-top: 20px;
    display: block;
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: left;
    justify-content: center;
    align-items: left;
    padding: 20px;
    box-sizing: border-box;
    height: calc(70% - 20px);
    width: 100%;
    overflow: hidden;
}
.equipment-title-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipment{
    display: block;
    margin: 10px;
    background-color: #D9D9D9;
    width: 100%;
    justify-content: space-evenly;
    min-width: 400px;
    padding: 20px;
    border-radius: 20px;
    height: 70vh;
    box-sizing: border-box;
    overflow:hidden;
}

.device{
    display: block;
    width: 50%;
    margin: 0 25%; 
    /* height: 80%; */
    min-width: 600px;
    box-sizing: border-box;
}

.equipment h1{
    color: black;
}

h1{
    color: white;
}


@media (max-width: 1000px ) {
    body {
        width: auto;

    }
    
    .device{
        display: block;
        width: 50%;
        height: 30%;
        box-sizing: border-box;
    }

    .equipment{
        min-width: none;
    }
}
